<!DOCTYPE html>
<html>
<head>
  <title>Aurora Dynamics Corporation</title>
  <script>
    // Function to load tables based on the selected database
    async function loadTables() {
      HideResults()
      // Call API to get table list
      const response = await fetch('/get_tables', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({})
      });
      // Add default value and table names to a list
      const data = await response.json();
      const tableSelect = document.getElementById('table');
      tableSelect.innerHTML = '';
      const defaultOption = document.createElement('option');
      defaultOption.value = '';
      defaultOption.textContent = 'Select';
      defaultOption.selected = true;
      tableSelect.appendChild(defaultOption);
      data.tables.forEach(t => {
        const opt = document.createElement('option');
        opt.value = t;
        opt.textContent = t;
        tableSelect.appendChild(opt);
      });
    }

    // Display or hide query field based on the selected operation
    function toggleQueryField() {
      const op = document.getElementById('operation').value;
      const queryDiv = document.getElementById('query_div');
      document.getElementById('query').value = "";
      queryDiv.style.display = (op === 'query' || op === 'insert' || op === 'update' || op === 'delete') ? 'block' : 'none';
    }

    // Display or hide table dropdown based on the selected operation
    function toggleTableField() {
      const op = document.getElementById('operation').value;
      const tableDiv = document.getElementById('table_div');
      tableDiv.style.display = (op === 'print') ? 'block' : 'none';
      if(op === 'print'){
        loadTables()
      }
    }

    // Display results section
    function DisplayResults() {
      const tableDiv = document.getElementById('results_div');
      tableDiv.style.display = 'block';
    }

    // Hide results section
    function HideResults() {
      const tableDiv = document.getElementById('results_div');
      tableDiv.style.display = 'none';
    }

    // Function to execute the selected operation
    async function executeOperation() {
      const table = document.getElementById('table').value;
      const operation = document.getElementById('operation').value;
      const query = document.getElementById('query').value;

      // Validation for input
      if (!table && operation === 'print') {
        alert("Please select a table");
        return;
      }
      else if (!operation) {
        alert("Please select an operation");
        return;
      }
      else if (operation != 'print' && !query) {
        alert("Please enter a query");
        return;
      }


      // API call to execute operation
      const response = await fetch('/execute', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({table, operation, query})
      });
      const data = await response.json();
      const resultDiv = document.getElementById('result');
      resultDiv.innerHTML = '';
      const result = data.result;
      if (result != ""){
        DisplayResults();
      }
      // Display results based on the data type: Display a table for a list of results; Display a text for string
      if (Array.isArray(result) && result.length > 0 && typeof result[0] === 'object') {
            const table = document.createElement('table');
            table.border = '1';
            table.cellPadding = '6';
            table.style.borderCollapse = 'collapse';
            table.style.marginTop = '10px';

            const header = table.insertRow();
            Object.keys(result[0]).forEach(key => {
                const th = document.createElement('th');
                th.textContent = key;
                th.style.backgroundColor = '#f0f0f0';
                th.style.fontWeight = 'bold';
                header.appendChild(th);
            });

            result.forEach(rowData => {
                const row = table.insertRow();
                Object.values(rowData).forEach(value => {
                    const cell = row.insertCell();
                    cell.textContent = value;
                });
            });

            resultDiv.appendChild(table);
      }
      else if (typeof result === 'object' && result !== null) {
            resultDiv.textContent = JSON.stringify(result, null, 2);
      }
      else {
            resultDiv.textContent = result;
      }
      // Handle the scenario where no data is received from database
      if (Array.isArray(result) && result.length === 0) {
            resultDiv.textContent = 'No data found.';
            return;
      }
    }
  </script>
</head>
<body>
  <h2>Aurora Dynamics Corporation</h2>

  <label>Operation:</label>
  <select id="operation" onchange="toggleQueryField(); toggleTableField(); HideResults();">
    <option value="">Select</option>
    <option value="print">Print Data</option>
    <option value="query">Query Data</option>
    <option value="insert">Insert Data</option>
    <option value="update">Update Data</option>
    <option value="delete">Delete Data</option>
  </select>
  <br><br>

  <div id="table_div" style="display:none;"">
    <label>Table:</label>
    <select id="table" onchange=HideResults();>
        <option value="">Select</option>
    </select>
    <br>
  </div>
  
  <div id="query_div" style="display:none;">
    <label for="query">Query:</label><br>
    <textarea id="query" rows="4" cols="60" placeholder="Enter query in SQL Syntax"></textarea>
  </div>
  <br>

  <button onclick="executeOperation()">Run</button>
  <div id="results_div" style="display:none;">
    <h3>Results:</h3>
    <pre id="result"></pre>
  </div>
</body>
</html>